/Skarpline.BusinessLayer.Service/obj
/Skarpline.BusinessLayer.Service/bin
/Skarpline.API/obj
/Skarpline.API/bin
/Skarpline.BusinessLayer.ServiceImpl/obj
/Skarpline.BusinessLayer.ServiceImpl/bin
/Skarpline.CommonLayer.CommonLibrary/obj
/Skarpline.CommonLayer.CommonLibrary/bin
/Skarpline.CommonLayer.Mapper/obj
/Skarpline.CommonLayer.Mapper/bin
/Skarpline.CommonLayer.Unity/obj
/Skarpline.CommonLayer.Unity/bin
/Skarpline.Models/obj
/Skarpline.Models/bin
/Skarpline.PersistenceLayer.EF/obj
/Skarpline.PersistenceLayer.EF/bin
/Skarpline.PersistenceLayer.Repository/obj
/Skarpline.PersistenceLayer.Repository/bin
/Skarpline.v12.suo
/Skarpline.PersistenceLayer.EF/Impl
/Skarpline.PersistenceLayer.Repository/Entities
/Skarpline.Models/*.user
/Skarpline.PersistenceLayer.EF/*.user
